extends layout

block content
  h1 Olá MEAN Seed
  ul
    li
      a(ui-sref='/') Início
    li
      a(ui-sref='/users') Usuários

  div(data-ui-view)

  script(src='javascript/lib/angular/angular.js')
  script(src='javascript/lib/angular-route/angular-route.min.js')
  script(src='javascript/app.js')
  script(src='javascript/controllers.js')
    
  script(src='javascript/modules/users/index.js')
  script(src='javascript/modules/users/controllers.js')
  script(src='javascript/modules/users/services.js')

